<section ng-controller=ExampleController>

	<div data-ng-show="!authentication.user">
		<input type="button" value="加入我们！" class="btn btn-lg btn-primary btn-block" onclick="window.location.href='/signin'"> 
	</div>
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.username"></span></h1>
		<a href="/signout">Signout</a>
		<ul>
			<li><a href="/#!/chat">Chat!</a></li>
			<li><a href="/#!/articles">List Articles</a></li>
			<li><a href="/#!/articles/create">Create Article</a></li>
		</ul>
	</div>

</section>

