<!DOCTYPE html>
<meta charset="UTF-8" />
<html xmlns:ng="http://angularjs.org" style="height: 100%">
	<head>
		<title>创萌工作室<%= title %></title>
		<link rel="stylesheet" type="text/css" href="/css/cm.css" />
		<link rel="shortcut icon" href="/pictures/favicon.ico"/>
		<link rel="bookmark" href="/pictures/favicon.ico"/>
	</head>
	<body>

		<div id="topbar">
			<a id="menu" href="#"></a>
	    	<a id="github" href="https://github.com/CM-Studio"></a>
		</div>
	    <div id="logo"></div>
		<div id="footer"></div>

		<section ng-view></section>
		
		<script type="text/javascript">
			window.user = <%- user || 'null' %>
		</script>

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

		<script type="text/javascript" src="/articles/articles.client.module.js"></script>
		<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
		<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
		<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

		<script type="text/javascript" src="/example/example.client.module.js"></script>

		<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>

		<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

		<script type="text/javascript" src="/users/users.client.module.js"></script>

		<script type="text/javascript" src="/users/services/anthentication.client.service.js"></script>

		<script type="text/javascript" src="/chat/chat.client.module.js"></script>
		<script type="text/javascript" src="/chat/services/chat.client.service.js"></script>
		<script type="text/javascript" src="/chat/controllers/chat.client.controller.js"></script>
		<script type="text/javascript" src="/chat/config/chat.client.routes.js"></script>

		<script type="text/javascript" src="/application.js"></script>
	</body>
</html>