<!DOCTYPE html>
<html>
<head>
	<title>
		<%=title %>
	</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="././css/cm.css">
</head>
<body>

	<!--<div id="topbar">
		<a id="menu" href="#"></a>
    	<a id="github" href="https://github.com/CM-Studio"></a>
	</div>
    <div id="logo"></div>
	<div id="footer"></div>-->

	<div class="container">
		<% for (var i in messages) { %>
			<div class="flash"><%= messages[i] %></div>
		<% } %>
		<form class="signup" action="/signup" method="post">
		<h2 class="form-signup-heading">Please sign up</h2>
			<div>
				<label>First Name:</label>
				<input class="form-control" type="text" name="firstName" />
			</div>
			<div>
				<label>Last Name:</label>
				<input class="form-control" type="text" name="lastName" />
			</div>
			<div>
				<label>Email:</label>
				<input class="form-control" type="text" name="email" placeholder="user@example.com" />
			</div>
			<div>
				<label>Username:</label>
				<input class="form-control" type="text" name="username" />
			</div>
			<div>
				<label>Password:</label>
				<input class="form-control" type="password" name="password" placeholder="need at least 6 words" />
			</div>
			<div style="margin-top: 15px;">
				<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign up" />
			</div>
			<div style="text-align: center;">
				<a href="/signin">Already have account ? Login now</a>
			</div>
		</form>
	</div>

	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>
</html>